{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
         {% for i in movie_list  %}
        <div class="col-md-3">

        <div class="card" style="width: 18rem;">
            <a href="{% url 'movieapp:detail' i.id %}">
        <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="70px" height="250px">
        </a>
                <div class="card-body">
         <h5 class="card-title">{{i.name}}</h5><p class="card-text">[{{i.year}}] </p>
        <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">View Details</a>
        </div>
        </div>
        </div>
        {% endfor %}

    </div><BR><BR>
        <div style="text-align:center;" >
    <a href="{% url 'movieapp:add_movie' %}" class="btn btn-danger btn-lg" >ADD MOVIE</a>
        </div>
    </div><BR><BR>

<!--<a href="{% url 'movieapp:add_movie' %}" class="btn btn-danger">ADD MOVIE</a>-->

{% endblock %}
